html {
  scroll-behavior: smooth;
  max-width: 2880px;
  margin: auto;
}

.navbar {
  background-color: #ffffff;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.jumbotron {
  background-color: #fafafa;
  padding-bottom: 0;
}

#mebg {
  position: relative;
  background: no-repeat url(../images/mebg1.png) 50% / 100%;
}


#mebg > img{
  vertical-align: top;
  width: 100%; 
  opacity: 0; 
}
#mebg > div{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

body {
  padding-top: 40px;
  background-color: #fafafa;
}

#werk {
  padding-left: 70px;
  padding-right: 70px;
}

#ux {
  padding-top: 0px;
}

h1 {
  font-size: 6vw;
}

h1, h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #8b8cb4;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2pw;
  color: #ffffff;
}

h4 {
  font-family: 'Poppins', sans-serif;
  color: #4f4f85;
  font-weight: 700;
  font-size: 2vw;
  margin-top: 15px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: calc(10px + .5vw);
  color: #2b2b55;
  margin-top: 10px;
}

a {
  color: #8b8cb4;
}
b {
  font-weight: 500;
}

#intro {
  left: 0px;
  top: 0px;
  position: absolute;
}

#intro2 {
  left: 0px;
  top: 0px;
  z-index: 1;
}

#imgrow {
  margin-top: 10px;
}

table, th, td {
  border: 4px solid #fafafa;
}

td {
  padding: 16px 16px 16px 0px;
  vertical-align: top;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  margin-top: 10px;
  background-color: #edebeb;
}

th {
  background-color: #ead2e0;
  text-align: center;
  padding: 16px;
}


@media screen and (max-width: 768px) {
  #mebg {
    background: no-repeat url(../images/mebg3.png) 50% / 100%;
  }
  body {
    padding-top: 40px;
  }
  #mob {
    padding-top: 20px;
  }
  #ux {
    padding-top: 0 px;
  }
  h1 {font-size: 36px;}
  h3 {font-size: 20px;}
  h4 {font-size: 20px;}
  p {font-size: 16px;}
}


/* Banners */

#card {
  padding: 10px 10px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
  background: -webkit-linear-gradient(45deg, #4139dc 0%, #91fff8 100%);
  background: linear-gradient(45deg, #4139dc 0%, #91fff8 100%);
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 3em;
  vertical-align: top;
  text-align: left;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  position: relative;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: transparent;
  padding: 15% 0 10px 0;
  text-align: left;
}

.hovereffect .overlay:before {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}

.hovereffect:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hovereffect:hover .overlay:before, .hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}